@charset "UTF-8";

@font-face {
  font-family: "HeliosRegular";
  src: url("../fonts/Helios Regular.eot");
  src: local("☺"), url("../fonts/Helios Regular.woff") format("woff"), url("../fonts/Helios Regular.ttf") format("truetype"), url("../fonts/Helios Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  font-display: swap;
  src: url("../fonts/helveticaneuecyr-Light.woff2") format("woff2"), url("../fonts/helveticaneuecyr-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  font-display: swap;
  src: url("../fonts/helveticaneuecyr-Roman.woff2") format("woff2"), url("../fonts/helveticaneuecyr-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  font-display: swap;
  src: url("../fonts/helveticaneuecyr-Medium.woff2") format("woff2"), url("../fonts/helveticaneuecyr-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  font-display: swap;
  src: url("../fonts/helveticaneuecyr-Bold.woff2") format("woff2"), url("../fonts/helveticaneuecyr-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}